* {
    margin: 0 auto;
    font-family:  "Poppins", sans-serif;
}
body {
    max-width: 1551px;
}

/* ==========================
   navbar section start
========================== */
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 23.5px 115.5px;
}
.logo {
    display: flex;
    text-align: center;
    width: 132px;
    height: 44px;
}
.logo img {
    width: 32px;
    height: 32px;
}
.logo h1{
    padding-left:8px;
    font-size:20px;
    font-weight:700;
    line-height:0.9;
    margin:0;
}
.menu ul  {
    display:flex ;
    list-style: none;
    gap: 24px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
    color: #575757;
}
button {
    width: 192px;
    height: 56px;
    font-size: 15px;
    background-color: #1D4ED8;
    color: white;
    border: 1px solid #1D4ED8;
    border-radius: 10px;
}
button a {
    color: white;
}
/* ==========================
    navbar section End 
========================== */


/* ==========================
    hero section start
========================== */
.hero {
    background-image:url(../assets/banner.jpg);
    background-size: cover;
    gap: 270px;
    width: 100%;
    height: 786px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 80px;
    width: 959px;
    height: 95px;
    color: white;
    padding-bottom: 20px;
}
.hero p {
    width: 829px;
    height: 108px;
    font-size: 22px;
    color: white;
}
.hero button {
    width: 282px;
    height: 74px;
    font-size: 19px;
    padding: 25px 72px;
}
/* ==========================
   hero section End
========================== */


/* ==========================
   Speaker section Start
========================== */
.speaker {
    max-width: 1440px;
    height: 1279px;
}
.speaker h1 {
    margin: 80px 403px 56px;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
}
.card {
        border: 1px solid #E5E7EB;
        border-radius: 13px;
        width: 100%;
}
.card p{
    font-size: 12px;
    color: #2563EB;
    padding: 24px  24px 8px;
}
.card h3 {
    color: #0D1B2A;
    font-size: 20px;
    padding-left: 24px;
}
.card span {
    font-size: 14px;
    color: #575757;
    padding-left: 24px ;
    display: block;
    padding-top: 8px;
    padding-bottom: 30px;
}
/* ==========================
   Speaker section End
========================== */


/* ==========================
   Price section Start
========================== */
.price-title {
    display: flex;
    flex-direction: column;
}
.price-title h1 {
    font-size: 48px;
    color: #0D1B2A;
}
.price-title p {
    font-size: 18px;
    margin-top: 10px;
    columns: #575757;
}
.price-bar {
    max-width: 1440px;
    height: 668px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-package {
    display: flex;
    margin-top: 48px;
    width: 1320px;
    height: 492px;
    gap: 24px;
}
.package {
    width: 370px;
    height: 440px;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 32px;
}

.package-title {
    margin-bottom: 20px;
}
.package p {
    font-size: 13px;
    color: #888888;
}
.package h1 {
    font-size: 44px;
    color: #0D1B2A;
    margin-bottom: 0;
    padding-bottom: 0;
}
.package span {
    font-size: 13px;
    color: #888888;
}
.package-benefit ul li {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.package-benefit ul ::marker{
    color: #2563EB;
}
.price-btn {
    color: #2563EB;
    border: 1px solid #2563EB;
    border-radius: 10px;
    padding: 11px 106px;
}
.package a {
    display: block;
    margin-top: 30px;
    text-align: center;
}
.package2 {
    background-color: #0D1B2A;
    color: white;
}
.package2 p {
    color: #93C5FD;
}
.package2 h1 {
    color: white;
}
.package2 a {
    background-color: #2563EB;
    color: white;
}
.package3 {
    background-color: #E5E7EB;
}
.package3 a {
    color: black;
    border-color: black;
}
/* ==========================
    price section End 
========================== */


/* ==========================
   Something Missing start
========================== */

.why-attend {
    padding: 120px 0 50px;
    background: #ffffff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.section-title {
    text-align: center;
    margin-bottom: 70px;
}

.section-title h2 {
    font-size: 48px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 18px;
}

.section-title p {
    max-width: 700px;
    margin: auto;
    color: #6b7280;
    line-height: 1.8;
    font-size: 17px;
}

.attend-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.attend-card {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    padding: 35px;
    transition: .35s ease;
    position: relative;
    overflow: hidden;
}

.attend-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    background: #2563eb;
    transform: scaleX(0);
    transform-origin: left;
    transition: .35s;
}

.attend-card:hover::before {
    transform: scaleX(1);
}

.attend-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 45px rgba(37, 99, 235, .15);
}

.icon {
    width: 70px;
    height: 70px;
    border-radius: 18px;
    background: #eff6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    margin-bottom: 25px;
    transition: .35s;
}

.attend-card:hover .icon {
    transform: scale(1.1) rotate(8deg);
}

.attend-card h3 {
    font-size: 24px;
    color: #111827;
    margin-bottom: 16px;
}

.attend-card p {
    color: #6b7280;
    line-height: 1.8;
    margin-bottom: 28px;
}

.attend-card span {
    display: inline-block;
    background: #2563eb;
    color: #ffffff;
    padding: 10px 18px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
}
/* ==========================
   Something Missing End
========================== */

/* ==========================
      REGISTER footer start
========================== */
.register-cta {
    padding: 50px 0 120px;
    text-align: center;
    background: #ffffff;
}

.register-cta h2 {
    font-size: 48px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 20px;
}

.register-cta p {
    max-width: 700px;
    margin: 0 auto 40px;
    color: #6b7280;
    font-size: 17px;
    line-height: 1.8;
}

.register-btn {
    display: inline-block;
    padding: 18px 42px;
    background: #2563eb;
    color: #ffffff;
    text-decoration: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    transition: .35s;
    box-shadow: 0 12px 30px rgba(37, 99, 235, .20);
}

.register-btn:hover {
    background: #1d4ed8;
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(37, 99, 235, .30);
}

.footer{
    background:#0F1B2A;
    padding:28px 0;
    border-top:1px solid rgba(255,255,255,.08);
}

.footer-container{
    width:100%;
    max-width:1551px;
    margin: 0 auto;
    display:flex;

}

.footer p{
    color:#8A94A6;
    font-size:14px;
}

.footer-links{
    display:flex;
    gap:25px;
}

.footer-links a{
    text-decoration:none;
    color:#8A94A6;
    font-size:14px;
    transition:.3s;
}
/* ==========================
      REGISTER footer End
========================== */